{% extends 'layouts/main.html' %}
{% block title %}Fyyur | Venues{% endblock %}
{% block content %}
<h4>{{area}}</h4>
{% for area in areas %}
<h3>{{ area.city }}, {{ area.state }}</h3>

	<ul class="items" style="display: block;">
		{% for venue in area.venues %}
		<li style="display:flex">
			
			<a href="/venues/{{ venue.id }}" style="display: flex;">
				<i class="fas fa-music"></i>
				<div class="item">
					<h5>  
						{{ venue.name }}
						
					</h5>
					
				</div>
			</a>
			<form onsubmit="return(confirm('Are you sure you want to permanently delete {{venue.name}}'))"action="/venues/{{venue.id}}/delete" method="POST" style="display: inline; padding-left: 15px;">
				<input type="submit" value="&cross;" style="border: none; color: red;" >
			</form>
		</li>
		{% endfor %}
	</ul>
{% endfor %}
{% endblock %}